<div class="container">
<legend>Statuses

<%= link_to '<i class="icon-plus icon-white"></i> Add New'.html_safe, new_status_path, class: 'btn btn-success pull-right' %> </legend>

<table class="table table-striped">
  <tbody>
    <% @statuses.each do |status| %>
      <tr>
        <td  class="span3"><%= link_to status.name, status_path(status) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>